@media screen and (max-width: 2560px) {
    .picture-frame {
        overflow: hidden;
        justify-content: center;
        width: 35%;
        height: auto;
        /* object-fit: cover; */
    }

    .pagination-first {
        width: 80% !important;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        margin: 0 !important;
        left: 8% !important;
    }

    .pagination-first .swiper-pagination-bullet {
        width: 20px;
        height: 10px;
        background-color: #ffffff;
        border-radius: 0;
    }

    .text-box {
        display: flex;
        justify-content: center;
        z-index: 10000;
        position: sticky;

    }





    .alert-text-box {
        position: absolute;
        top: 25px;
        width: 25%;
        height: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 21px;
        color: #fff;
        background-color: rgb(32 32 32 / 70%);
        backdrop-filter: blur(1px);
        font-weight: bold;
    }

    .move-buttons {
        margin-top: 15px;
    }

    .move-buttons button {
        width: 140px;
        height: 30px;
        font-size: 14px;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(1px);
        border-radius: 4px;
        border: none;
        margin: 0 5px;
        cursor: pointer;
    }

    .move-buttons button:hover {
        transition: 1s;
        background-color: rgba(63, 63, 63, 0.7);
        backdrop-filter: blur(1px);
        color: #fff;
        cursor: pointer;
    }

    .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        z-index: 1001;
        left: auto;
        right: 37.3%;
        width: 30%;
        top: 10px;

    }

    .box {
        width: 50px;
        height: 50px;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        cursor: pointer;
        background-color: rgb(34 42 64 / 70%);
        backdrop-filter: blur(1px);
        border-radius: 4px;
    }

    .box.hidden {
        display: none;
    }

    .box img {
        width: 30px;
        height: 30px;
    }

    .box img:hover {
        transition: 1s;
        width: 35px;
        height: 35px;
    }


}


@media screen and (max-width: 2000px) {
    .picture-frame {
        overflow: hidden;
        justify-content: center;
        width: 30%;
        height: auto;
        /* object-fit: cover; */
    }

    .pagination-second {
        width: 80% !important;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        margin: 0 !important;
        left: 8% !important;
    }

    .pagination-second .swiper-pagination-bullet {
        width: 20px;
        height: 10px;
        background-color: #ffffff;
        border-radius: 0;
    }

    .text-box {
        display: flex;
        justify-content: center;
        z-index: 10000;
        position: sticky;
    }

    .alert-text-box {
        position: absolute;
        top: 25px;
        width: 25%;
        height: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 21px;
        color: #fff;
        background-color: rgb(32 32 32 / 70%);
        backdrop-filter: blur(1px);
        font-weight: bold;
    }

    .move-buttons {
        margin-top: 5px;
    }

    .move-buttons button {
        width: 140px;
        height: 30px;
        font-size: 14px;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(1px);
        border-radius: 4px;
        border: none;
        margin: 0 5px;
        cursor: pointer;
    }

    .move-buttons button:hover {
        transition: 1s;
        background-color: rgba(63, 63, 63, 0.7);
        backdrop-filter: blur(1px);
        color: #fff;
        cursor: pointer;
    }

    .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        z-index: 1001;
        left: auto;
        right: 34.8%;
        width: 30%;
        top: 10px;

    }

    .box {
        width: 40px;
        height: 40px;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        cursor: pointer;
        background-color: rgb(34 42 64 / 70%);
        backdrop-filter: blur(1px);
        border-radius: 4px;
    }

    .box.hidden {
        display: none;
    }

    .box img {
        width: 30px;
        height: 30px;
    }

    .box img:hover {
        transition: 1s;
        width: 35px;
        height: 35px;
    }
}


@media screen and (max-width: 1800px) {
    .picture-frame {
        overflow: hidden;
        justify-content: center;
        width: 33%;
        height: auto;
        /* object-fit: cover; */
    }

    .pagination-third {
        width: 80% !important;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        margin: 0 !important;
        left: 8% !important;
    }

    .pagination-third .swiper-pagination-bullet {
        width: 20px;
        height: 10px;
        background-color: #ffffff;
        border-radius: 0;
    }

    .text-box {
        display: flex;
        justify-content: center;
        z-index: 10000;
        position: sticky;
    }

    .alert-text-box {
        position: absolute;
        top: 25px;
        width: 25%;
        height: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: #fff;
        background-color: rgb(32 32 32 / 70%);
        backdrop-filter: blur(1px);
        font-weight: bold;
    }

    .move-buttons {
        margin-top: 5px;
    }

    .move-buttons button {
        width: 140px;
        height: 30px;
        font-size: 14px;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(1px);
        border-radius: 4px;
        border: none;
        margin: 0 5px;
        cursor: pointer;
    }

    .move-buttons button:hover {
        transition: 1s;
        background-color: rgba(63, 63, 63, 0.7);
        backdrop-filter: blur(1px);
        color: #fff;
        cursor: pointer;
    }

    .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        z-index: 1001;
        left: auto;
        right: 36.2%;
        width: 30%;
        top: 10px;

    }

    .box {
        width: 40px;
        height: 40px;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        cursor: pointer;
        background-color: rgb(34 42 64 / 70%);
        backdrop-filter: blur(1px);
        border-radius: 4px;
    }

    .box.hidden {
        display: none;
    }

    .box img {
        width: 30px;
        height: 30px;
    }

    .box img:hover {
        transition: 1s;
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width: 1600px) {
    .picture-frame {
        overflow: hidden;
        justify-content: center;
        width: 33%;
        height: auto;
        /* object-fit: cover; */
    }

    .pagination-four {
        width: 80% !important;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        margin: 0 !important;
        left: 8% !important;
    }

    .pagination-four .swiper-pagination-bullet {
        width: 20px;
        height: 10px;
        background-color: #ffffff;
        border-radius: 0;
    }

    .text-box {
        display: flex;
        justify-content: center;
        z-index: 10000;
        position: sticky;
    }

    .alert-text-box {
        position: absolute;
        top: 25px;
        width: 25%;
        height: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: #fff;
        background-color: rgb(32 32 32 / 70%);
        backdrop-filter: blur(1px);
        font-weight: bold;
    }

    .move-buttons {
        margin-top: 5px;
    }

    .move-buttons button {
        width: 140px;
        height: 30px;
        font-size: 14px;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(1px);
        border-radius: 4px;
        border: none;
        margin: 0 5px;
        cursor: pointer;
    }

    .move-buttons button:hover {
        transition: 1s;
        background-color: rgba(63, 63, 63, 0.7);
        backdrop-filter: blur(1px);
        color: #fff;
        cursor: pointer;
    }

    .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        z-index: 1001;
        left: auto;
        right: 36.2%;
        width: 30%;
        top: 10px;

    }

    .box {
        width: 35px;
        height: 35px;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        cursor: pointer;
        background-color: rgb(34 42 64 / 70%);
        backdrop-filter: blur(1px);
        border-radius: 4px;
    }

    .box.hidden {
        display: none;
    }

    .box img {
        width: 25px;
        height: 25px;
    }

    .box img:hover {
        transition: 1s;
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 1400px) {
    .picture-frame {
        overflow: hidden;
        justify-content: center;
        width: 32%;
        height: auto;
        /* object-fit: cover; */
    }

    .pagination-five {
        width: 80% !important;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 7px;
        margin: 0 !important;
        left: 8% !important;
    }

    .pagination-five .swiper-pagination-bullet {
        width: 20px;
        height: 10px;
        background-color: #ffffff;
        border-radius: 0;
    }

    .text-box {
        display: flex;
        justify-content: center;
        z-index: 10000;
        position: sticky;
    }

    .alert-text-box {
        position: absolute;
        top: 25px;
        width: 25%;
        height: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #fff;
        background-color: rgb(32 32 32 / 70%);
        backdrop-filter: blur(1px);
        font-weight: bold;
    }

    .move-buttons {
        margin-top: 5px;
    }

    .move-buttons button {
        width: 140px;
        height: 30px;
        font-size: 14px;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(1px);
        border-radius: 4px;
        border: none;
        margin: 0 5px;
        cursor: pointer;
    }

    .move-buttons button:hover {
        transition: 1s;
        background-color: rgba(63, 63, 63, 0.7);
        backdrop-filter: blur(1px);
        color: #fff;
        cursor: pointer;
    }

    .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        z-index: 1001;
        left: auto;
        right: 35.6%;
        width: 30%;
        top: 10px;

    }

    .box {
        width: 30px;
        height: 30px;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        cursor: pointer;
        background-color: rgb(34 42 64 / 70%);
        backdrop-filter: blur(1px);
        border-radius: 4px;
    }

    .box.hidden {
        display: none;
    }

    .box img {
        width: 20px;
        height: 20px;
    }

    .box img:hover {
        transition: 1s;
        width: 25px;
        height: 25px;
    }

}

@media screen and (max-width: 1200px) {
    .picture-frame {
        overflow: hidden;
        justify-content: center;
        width: 33%;
        height: auto;
        /* object-fit: cover; */
    }

    .pagination-six {
        width: 80% !important;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3.5px;
        margin: 0 !important;
        left: 8% !important;
    }

    .pagination-six .swiper-pagination-bullet {
        width: 20px;
        height: 10px;
        background-color: #ffffff;
        border-radius: 0;
    }

    .text-box {
        display: flex;
        justify-content: center;
        z-index: 10000;
        position: sticky;
    }

    .alert-text-box {
        position: absolute;
        top: 25px;
        width: 25%;
        height: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        color: #fff;
        background-color: rgb(32 32 32 / 70%);
        backdrop-filter: blur(1px);
        font-weight: bold;

    }

    .move-buttons {
        margin-top: 5px;
    }

    .move-buttons button {
        width: 140px;
        height: 30px;
        font-size: 14px;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(1px);
        border-radius: 4px;
        border: none;
        margin: 0 5px;
        cursor: pointer;
    }

    .move-buttons button:hover {
        transition: 1s;
        background-color: rgba(63, 63, 63, 0.7);
        backdrop-filter: blur(1px);
        color: #fff;
        cursor: pointer;
    }

    .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        z-index: 1001;
        left: auto;
        right: 36.1%;
        width: 30%;
        top: 10px;

    }

    .box {
        width: 30px;
        height: 30px;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        cursor: pointer;
        background-color: rgb(34 42 64 / 70%);
        backdrop-filter: blur(1px);
        border-radius: 4px;
    }

    .box.hidden {
        display: none;
    }

    .box img {
        width: 20px;
        height: 20px;
    }

    .box img:hover {
        transition: 1s;
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 1000px) {
    .picture-frame {
        overflow: hidden;
        justify-content: center;
        width: 32%;
        height: auto;
        /* object-fit: cover; */
    }

    .pagination-seven {
        width: 80% !important;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4px;
        margin: 0 !important;
        left: 8% !important;
    }

    .pagination-seven .swiper-pagination-bullet {
        width: 15px;
        height: 7px;
        background-color: #ffffff;
        border-radius: 0;
    }

    .text-box {
        display: flex;
        justify-content: center;
        z-index: 10000;
        position: sticky;
    }

    .alert-text-box {
        position: absolute;
        top: 25px;
        width: 35%;
        height: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #fff;
        background-color: rgb(32 32 32 / 70%);
        backdrop-filter: blur(1px);
        font-weight: bold;

    }

    .move-buttons {
        margin-top: 5px;
    }

    .move-buttons button {
        width: 140px;
        height: 30px;
        font-size: 14px;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(1px);
        border-radius: 4px;
        border: none;
        margin: 0 5px;
        cursor: pointer;
    }

    .move-buttons button:hover {
        transition: 1s;
        background-color: rgba(63, 63, 63, 0.7);
        backdrop-filter: blur(1px);
        color: #fff;
        cursor: pointer;
    }

    .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        z-index: 1001;
        left: auto;
        right: 35.5%;
        width: 30%;
        top: 10px;

    }

    .box {
        width: 20px;
        height: 20px;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        cursor: pointer;
        background-color: rgb(34 42 64 / 70%);
        backdrop-filter: blur(1px);
        border-radius: 4px;
    }

    .box.hidden {
        display: none;
    }

    .box img {
        width: 10px;
        height: 10px;
    }

    .box img:hover {
        transition: 1s;
        width: 15px;
        height: 15px;
    }
}

@media screen and (max-width: 800px) {
    .picture-frame {
        overflow: hidden;
        justify-content: center;
        width: 43%;
        height: auto;
        /* object-fit: cover; */
    }

    .pagination-eight {
        width: 80% !important;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4px;
        margin: 0 !important;
        left: 8% !important;
    }

    .pagination-eight .swiper-pagination-bullet {
        width: 15px;
        height: 7px;
        background-color: #ffffff;
        border-radius: 0;
    }

    .buttons-for-page {
        display: none;
    }

    .text-box {
        display: flex;
        justify-content: center;
        z-index: 10000;
        position: sticky;
    }

    .alert-text-box {
        position: absolute;
        top: 25px;
        width: 35%;
        height: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: #fff;
        background-color: rgb(32 32 32 / 70%);
        backdrop-filter: blur(1px);
        font-weight: bold;

    }

    .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        z-index: 1001;
        left: auto;
        right: 40.9%;
        width: 30%;
        top: 10px;

    }

    .box {
        width: 20px;
        height: 20px;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        cursor: pointer;
        background-color: rgb(34 42 64 / 70%);
        backdrop-filter: blur(1px);
        border-radius: 4px;
    }

    .box.hidden {
        display: none;
    }

    .box img {
        width: 10px;
        height: 10px;
    }

    .box img:hover {
        transition: 1s;
        width: 15px;
        height: 15px;
    }


}

@media screen and (max-width: 600px) {
    .picture-frame {
        overflow: hidden;
        justify-content: center;
        width: 100%;
        height: auto;
        /* object-fit: cover; */
    }

    .pagination-nine {
        width: 90% !important;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;
        margin: 0 !important;
        left: 4% !important;
    }

    .pagination-nine .swiper-pagination-bullet {
        width: 15px;
        height: 7px;
        background-color: #ffffff;
        border-radius: 0;
    }

    .buttons-for-page {
        display: none;
    }

    .popup {
        width: 98%;
        top: 0 !important;
        position: absolute;
        height: auto;
        z-index: 1000;
        display: flex;
        justify-content: center;
    }

    .popup-image {
        width: 100%;
        height: auto;
    }

    .popup-open {
        display: block !important;
    }

    .text-box {
        display: flex;
        justify-content: center;
        z-index: 10000;
        position: sticky;
    }

    .alert-text-box {
        position: absolute;
        top: 25px;
        width: 95%;
        height: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #fff;
        background-color: rgb(32 32 32 / 70%);
        backdrop-filter: blur(1px);
        font-weight: bold;

    }

    .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        z-index: 1001;
        left: auto;
        right: 67.8%;
        width: 30%;
        top: 10px;

    }

    .box {
        width: 30px;
        height: 30px;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        cursor: pointer;
        background-color: rgb(34 42 64 / 70%);
        backdrop-filter: blur(1px);
        border-radius: 4px;
    }

    .box.hidden {
        display: none;
    }

    .box img {
        width: 20px;
        height: 20px;
    }

    .box img:hover {
        transition: 1s;
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 400px) {
    .picture-frame {
        overflow: hidden;
        justify-content: center;
        width: 100%;
        height: auto;
        /* object-fit: cover; */
    }

    .pagination-ten {
        width: 100% !important;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2.5px;
        margin: 0 !important;
        left: 0% !important;
    }

    .pagination-ten .swiper-pagination-bullet {
        width: 15px;
        height: 7px;
        background-color: #ffffff;
        border-radius: 0;
    }

    .buttons-for-page {
        display: none;
    }

    .text-box {
        display: flex;
        justify-content: center;
        z-index: 10000;
        position: sticky;
    }

    .alert-text-box {
        position: absolute;
        top: 25px;
        width: 95%;
        height: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #fff;
        background-color: rgb(32 32 32 / 70%);
        backdrop-filter: blur(1px);
        font-weight: bold;

    }

    .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        z-index: 1001;
        left: auto;
        right: 67.5%;
        width: 30%;
        top: 10px;

    }

    .box {
        width: 30px;
        height: 30px;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        cursor: pointer;
        background-color: rgb(34 42 64 / 70%);
        backdrop-filter: blur(1px);
        border-radius: 4px;
    }

    .box.hidden {
        display: none;
    }

    .box img {
        width: 20px;
        height: 20px;
    }

    .box img:hover {
        transition: 1s;
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 360px) {


    .text-box {
        display: flex;
        justify-content: center;
        z-index: 10000;
        position: sticky;
    }

    .alert-text-box {
        position: absolute;
        top: 25px;
        width: 95%;
        height: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #fff;
        background-color: rgb(32 32 32 / 70%);
        backdrop-filter: blur(1px);
        font-weight: bold;

    }
}